<h1>Listing usets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usets.each do |uset| %>
  <tr>
    <td><%= uset.name %></td>
    <td><%= uset.email %></td>
    <td><%= link_to 'Show', uset %></td>
    <td><%= link_to 'Edit', edit_uset_path(uset) %></td>
    <td><%= link_to 'Destroy', uset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uset', new_uset_path %>
